
@import "tailwindcss";

@theme {
  --color-space-950: #0a0a0f;
  --color-space-900: #12121a;
  --color-space-800: #1c1c2e;
  --color-accent-purple: #7c3aed;
}

body {
  @apply bg-space-950 text-white;
}